{% extends 'Customer/base.html'%}
{% load static %}
{% block content %}
<style>
 /* Star Rating */
 .checked {
			 color: orange;
		   }
		   
</style>
<div class="card" style="border: 0;" >
 
    <div class="stars" style="text-align: center;">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        </div>
   
  </div>
  {% endblock content %} 