<style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat:wght@600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  
  --bar-color: #38b000;
  --body-color: #222;
  --text-color: white;
  --bar-wrap-back-color: white;
}

body {
  margin: 0;
  
  font-family: 'Fira Sans', sans-serif;
  
  background-color: var(--body-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  width: min(90%, 800px);
  height: min(100vh, 800px);
  margin: 0 auto;
}

.status-info {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 0;
  margin: 0;
  
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(3.2rem, 6vw, 4.8rem);
  
  color: var(--text-color);
}

.bar-wrap {
  padding: 6px;
  margin-top: 50px;
  
  border-radius: 100px;
  
  background-color: var(--bar-wrap-back-color);
}

.bar {
  width: 0%;
  height: 15px;
  
  transition: width .15s ease-out;
  
  background-color: var(--bar-color);
  border-radius: 100px;
  box-shadow: inset -1px -1px 10px rgb(0 0 0 / .5);
}

.percentage {
  align-self: center;
  
  margin: 10px 0 25px;
  
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1.8rem, 3.5vw, 2.6rem);
  
  color: var(--text-color);
}

.line {
  margin: 0;
  
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  
  color: var(--text-color);
}

.number {
  margin-left: 8px;
  
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1.8rem, 3vw, 2.2rem);
}

.btn-wrap {
  align-self: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  width: min(15vw, 70px);
  height: min(15vw, 70px);
  border: 3px solid var(--text-color);
  margin: 1rem;
  
  font-family: 'Fira Sans', sans-serif;
  font-size: 4.8rem;
  
  transition: background .15s, color .15s;
  
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--body-color);
}

.btn:active {
  background-color: var(--body-color);
  color: var(--text-color);
}
</style>

<div class="container">
    <div class="status-info">
      <h1 class="title">Your progress</h1>
      <div class="bar-wrap">
        <div class="bar"></div>
      </div>
      <span class="percentage"></span>
      <p class="line">Number of puzzles: <span class="number" id="num1"></span></p>
      <p class="line">Solved puzzles: <span class="number" id="num2"></span></p>
    </div>
    
    <div class="btn-wrap">
      <button class="btn" id="add" type="button">&plus;</button>
      <button class="btn" id="sub" type="butotn">&minus;</button>
    </div>
  </div>



  <script>
      const bar = document.querySelector(".bar");
const percentageTag = document.querySelector(".percentage");
const totalTag = document.querySelector("#num1");
const solvedTag = document.querySelector("#num2");
const addBtn = document.querySelector("#add");
const subBtn = document.querySelector("#sub");
const total = 300;
let solved = 40;

const ruleOfThree = (num1, num2) => {
  const proportion = (num2 * 100) / num1;
  return Math.round(proportion * 10) / 10;
};

const updateBarLength = () => {
  const percentage = ruleOfThree(total, solved);
  bar.style.width = percentage + "%";
};

const updateText = () => {
  solvedTag.textContent = solved;
  percentageTag.textContent = ruleOfThree(total, solved) + "%";
};

addBtn.onclick = () => {
  if (solved < total) {
    solved++;
    updateBarLength();
    updateText();
  }
};

subBtn.onclick = () => {
  if (solved > 0) {
    solved--;
    updateBarLength();
    updateText();
  }
};

totalTag.textContent = total;
solvedTag.textContent = solved;
percentageTag.textContent = ruleOfThree(total, solved) + "%";
  </script>