
{% load static %}

<style>
  .top{
    padding-top: 15px;
    text-transform: none;}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <!-- <img src="{% static 'images/book.png' %}" alt="" width="30" height="30"> -->
    
    <i class="fa fa-book" style="font-size:38px;color: black"></i><a class="navbar-brand" href="/">
      <div class="top">
      <h4 style="font-family:Lucida Calligraphy; text-transform: none; "><span style="color:#5383d3;">Virtual</span> Academy</h4></a>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Assignment Help
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Online Classes</a></li>
              <li><a class="dropdown-item" href="#">Essay Writing</a></li>
              <li><a class="dropdown-item" href="#">Technical Calculations</a></li>
              <li><a class="dropdown-item" href="#">Thesis</a></li>
              <li><a class="dropdown-item" href="#">Programing</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">More</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Testmonials</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'task-create' %}">Order</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'terms' %}">Terms</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Live Chat</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <a href="{% url 'account' %}">{{request.user|title}} Profile<img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="width: 50px; height: 50px;" ></a>
              
              
            </div>
          </li>
        </ul>
     
     <!-- <li><a href="accounts/logout"><h2>Logout</h2></a></li> -->
     {% else %}
      <form class="form-inline my-2 my-lg-0">
        <a href="{% url 'login' %}" class="btn btn-outline-secondary border-radius: 12px;"><span style="font-size: 14px;">Log In</span></a>
        <a href="{% url 'register' %}" class="btn btn-primary ml-2 border-radius: 12px;"><span style="font-size: 14px;">Sign Up</span></a>
      </form>
      {% endif %}
    </div>
  </nav> 