{% extends 'Customer/base.html' %}
{% load static %}
{% block content %}
<style>
    .card{
        background-color: black;
       
      
    }
</style>
<div class="container">
<H2 style="text-align: center; font-family: Poppins;">Some of Customers' Testmonials</H2>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="color: black;">
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <div class="card-group">
            <div class="card" style="border: 0;" >
                <h5><img  src="{% static 'images/aldrie.jpg'%}" class="rounded-circle z-depth-1 img-fluid" style="height: 120px; width: 120px; align-items: center;"></h5>
              <div class="card-body">
                <h5 >Esimba</h5>
                <div class="stars" style="text-align: center;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>Honestly, I have a reason to stay working with the Virtual Academy. For my 12 papers, the minimum score was a 'B'. I am proud of you. Cheers!!<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card" style="border: 0;" >
                <h5><img  src="{% static 'images/t.jpg'%}" class="rounded-circle z-depth-1 img-fluid" style="height: 120px; width: 120px; align-items: center;"></h5>
              <div class="card-body">
                <h5>Mzee Chucho</h5>
                <div class="stars" style="text-align: center;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div>
                <p class="card-text"><i class="fa-solid fa-quote-left"></i>Excellent work submitted to me for review with plenty of time to spare. Allow me to have a personal touch with the writer who did my paper.<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card" style="border: 0;" >
                <h5><img  src="{% static 'images/f.jpg'%}" class="rounded-circle z-depth-1 img-fluid" style="height: 120px; width: 120px; align-items: center;"></h5>
              <div class="card-body">
                <h5>Madam Rainbow</h5>
                <div class="stars" style="text-align: center;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div>
                
                  <p class="card-text"><i class="fa-solid fa-quote-left"></i> Woow!! I never expected an "A" in economics and finance. It is through virtual writer kings that happened. Keep it up!<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">
            <div class="card" style="border: 0;" >
                <h5><img  src="{% static 'images/e.jpg'%}" class="rounded-circle z-depth-1 img-fluid" style="height: 120px; width: 120px; align-items: center;"></h5>
              <div class="card-body">
                <h5>Tarus Specialist</h5>
                <div class="stars" style="text-align: center;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                </div>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>Amazing work. No complain at all.<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card" style="border: 0;" >
                <h5><img  src="{% static 'images/o.jpg'%}" class="rounded-circle z-depth-1 img-fluid" style="height: 120px; width: 120px; align-items: center;"></h5>
              <div class="card-body">
                <h5>Mr Onkembi</h5>
                <div class="stars" style="text-align: center;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>did a wonderful job, very well written paper, followed instructions, and delivered on time.<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card" style="border: 0;" >
                <h5><img  src="{% static 'images/w2.jpg'%}" class="rounded-circle z-depth-1 img-fluid" style="height: 120px; width: 120px; align-items: center;"></h5>
              <div class="card-body">
                <h5>Bridgo</h5>
                <div class="stars" style="text-align: center;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>The term paper was completed within the time frame. Amazingly, there was proper communication during working period.You real deserve a distinction<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
          </div>
        </div>
    </div>
      <div class="carousel-item">
        <div class="card-group">
            <div class="card" style="border: 0;" >
                <h5><img  src="{% static 'images/q.jpg'%}" class="rounded-circle z-depth-1 img-fluid" style="height: 120px; width: 120px; align-items: center;"></h5>
              <div class="card-body">
                <h5 >Nguguyangu G</h5>
                <div class="stars" style="text-align: center;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>The paper was not badly done. The writer need to improve in paragraphing<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card" style="border: 0;" >
                <h5><img  src="{% static 'images/w3.jpg'%}" class="rounded-circle z-depth-1 img-fluid" style="height: 120px; width: 120px; align-items: center;"></h5>
              <div class="card-body">
                <h5> Creig Montana</h5>
                <div class="stars" style="text-align: center;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>I scored an A. thank you.</p>
              </div>
              
            </div>
            <div class="card" style="border: 0;" >
                <span style="text-align: center;"><img src="{% static 'images/o.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5>Shayi Mpepe</h5>
                <div class="stars" style="text-align: center;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>Here is a place to be. I recommend Virtual Academy forever.<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
          </div>
      </div>
 
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" style="color: blue;"></span>
      <span class="visually-hidden"><b style="color: green;">Next</b></span>
    </button>
  </div>
</div>
{% endblock %}
